@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 90%;
  margin: auto;
}
button {
  border: none;
  cursor: pointer;
}
header {
  padding-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 80%;
}
nav ul {
  display: flex;
  gap: 30px;
}
nav ul li a {
  color: black;
  transition: all 0.5s ease 0s;
}
nav ul li a:hover {
  color: #f06157;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  font-weight: 600;
}

.nav-buttons a button {
  cursor: pointer;
  padding: 9px 25px;
  border-radius: 20px;
}
/* section 2 */
.s-2 {
  margin-top: 100px;
}
.s-2 article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.head-content h1 {
  font-size: 52px;
  font-weight: 700;
}
.head-content p {
  color: #575455;
  font-weight: 400;
  line-height: 32px;
}
.head-content a button {
  padding: 12px 30px;
  border-radius: 50px;
  background-color: #1f7cff;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.head-content a button:hover {
  background-color: #036cff;
  transform: scale(1.1);
}
/* Head Content Image */
.head-c-img {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.head-c-img img[alt*="g-4"] {
  width: 80%;
}
.head-c-img img[alt*="g-7"] {
  position: absolute;
  left: 5px;
  top: 100px;
  width: 40%;
}
.head-c-img img[alt*="g-6"] {
  position: absolute;
  top: 25px;
  right: -60px;
  width: 40%;
}
/* Section 3 */
.s-3 {
  margin-top: 50px;
}
.s-3 article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-3-text {
  width: 190px;
}
.s-3-text p {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  line-height: 24px;
}
.s-3-img {
  display: flex;
  gap: 50px;
}
.s-3-img img {
  height: 30px;
  width: 90px;
}

/* Section 4 */

.s-4 {
  margin-top: 140px;
}
.s-4 article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-4 p {
  width: 385px;
  text-align: center;
  line-height: 32px;
}
.s-4-p1 {
  margin-bottom: 6px;
  font-weight: 600;
  color: #f06157;
}
.s-4-p2 {
  color: #575455;
  font-weight: 400;
  margin-top: 20px;
}
.s-4 h2 {
  font-size: 36px;
}
/* Section 5 */
.s-5 {
  margin-top: 70px;
  margin-bottom: 130px;
}
.s-5-article {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.s-5-items {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 300px;
}
.s-5-i-text h3 {
  margin-bottom: 12px;
  font-size: 20px;
}
.s-5-i-text p {
  width: 70%;
  color: #575455;
  font-weight: 400;
  line-height: 28px;
}

/* Section 6 */

.s-6 {
  margin-bottom: 94px;
}

.s-6 article {
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-6 article .img img {
  width: 80%;
}

.s-6-text h4 {
  font-weight: 700;
  color: #f75c4e;
}
.s-6-text h1 {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 900;
  line-height: 54px;
}
.s-6-text p {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #575455;
  width: 80%;
}

.s-6-text-buttons {
  position: relative;

}
.s-6-text-buttons .span {
  border: none;
  background-color: #f5f6fb;
  color: #575455;
  padding: 12px 20px;
  padding-right: 200px;
  border-radius: 50px;
}
.s-6-text-buttons .span:focus {
  outline: none;
}
.s-6-text-buttons button {
  position: absolute;
  right: 0;
  background-color: #1f7cff;
  color: #fff;
  padding: 12px 50px;
  border-radius: 50px;
  transition: 0.3s ease 0s;
}

.s-6-text-buttons button:hover {
  transform: scale(1.1);
}

/*Footer*/

footer{  
  color: #24292F;
  font-weight: 900;
  width: 100%;
  padding: 20px;

}
footer .container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer a{
  color: #f06157;
}

@media (max-width: 900px) {
  nav ul {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .nav-buttons{
    display: none;
  }
  .s-2 article {
    display: flex;
    flex-direction: column-reverse;
  }
  .head-content {
    display: flex;
    width: 100%;
  }
  .head-content h1 {
    font-size: 38px;
  }
  .head-content p {
    font-size: 18px;
  }
  .head-c-img {
    display: none;
  }

  /* section 3 */
  .s-3 article {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .s-3-text {
    width: 100%;
  }
  .s-3-img {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  /* Section 4 */
  .s-4 {
    margin-top: 80px;
  }
  .s-4 p {
    width: 100%;
  }

 /* Section 5 */


.s-5-items {
  width: 100%;
}
.s-5-i-text p {
  width: 100%;
}

/*Section 6*/

.s-6 article {
  gap: 20px;
  flex-direction: column;
  text-align: center;
}
.s-6 article .img img {
  width: 100%;
}

.s-6-text h1 {
  font-size: 28px;
}
.s-6-text p {
  width: 100%;
}
.s-6-text-buttons button {
    right: 0;
    top: 50px;
    width: 100%;
}
.s-6-text-buttons input {
  width: 100%;
}

}
